<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TreinoEsperto"
        tools:targetApi="31">
        <activity
            android:name=".Detalhar_Ficha"
            android:exported="false" />
        <activity
            android:name=".Criar_Avaliacao"
            android:exported="false"
            android:label="@string/title_activity_criar_avaliacao"
            android:theme="@style/Theme.TreinoEsperto.NoActionBar" />
        <activity
            android:name=".Criar_Ficha"
            android:exported="false" />
        <activity
            android:name=".Detalhar_Aluno"
            android:exported="false" />
        <activity
            android:name=".Cadastrar_Alunos"
            android:exported="false" />
        <activity
            android:name=".Aluno_Index"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Cadastrar_User"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>